---
http_interactions:
- request:
    method: get
    uri: http://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="apiKey", oauth_nonce="ZeP4rzVF2DbZglS3C5KaYEL0PEoZVToSdZ1Fwmb9js",
        oauth_signature="Vf15oV0AF1sn%2FcJUZyI9wKxx8So%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369700003", oauth_token="userToken", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - 4TUS7EJYIK
      X-Li-Format:
      - xml
      X-Li-R2-W-Ic-2:
      - com.linkedin.container.rpc.cluster.serviceInfo=PROD-ELA4%2Fauth%2F0.0.2000-RC1.26335%2Fela4-app1799%2Fi001
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error>
          <status>401</status>
          <timestamp>1369700004034</timestamp>
          <request-id>4TUS7EJYIK</request-id>
          <error-code>0</error-code>
          <message>[unauthorized]. No consumer found for key apiKey</message>
        </error>
  recorded_at: Tue, 28 May 2013 00:13:24 GMT
recorded_with: VCR 2.5.0
