---
http_interactions:
- request:
    method: get
    uri: http://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="api%20key", oauth_nonce="LO7nUKKiWaG2cWU3jB2YWnQ3ruHluvHyCeW5Wt0j4g",
        oauth_signature="WCWEOWtrpW%2FssyK0naUfl2U%2BdPw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1370017677", oauth_token="user%20token", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - KX9LNSXON2
      X-Li-Format:
      - xml
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<error>\n
        \ <status>401</status>\n  <timestamp>1370017679179</timestamp>\n  <request-id>KX9LNSXON2</request-id>\n
        \ <error-code>0</error-code>\n  <message>OAuth parameters should not contain
        spaces</message>\n</error>\n"
  recorded_at: Fri, 31 May 2013 16:27:58 GMT
recorded_with: VCR 2.5.0
