{"http_interactions":[{"request":{"method":"get","uri":"https://api.linkedin.com/v1/job-search?","body":{"encoding":"US-ASCII","string":""},"headers":{"Keywords":["developer"], "Country-Code":["US"], "Authorization":["OAuth oauth_consumer_key=\"m36b3xn5zxq6\", oauth_nonce=\"4IV0e6JpzeefyTvXUN1HWrE7UERJG8j9TFLXW3ns8\", oauth_signature=\"u4Ujyz1ZoVod7WtVtdMYi8euITM%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1370034963\", oauth_token=\"b41df4e2-148c-46a0-a49a-1d81aa075b1f\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Li-Request-Id":["IDMUQ26CJR"], "X-Li-Format":["xml"], "Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<job-search>\n  <jobs total=\"233151\" count=\"10\" start=\"0\">\n    <job>\n      <id>5908834</id>\n      <company>\n        <id>20984</id>\n        <name>92nd Street Y</name>\n      </company>\n      <job-poster>\n        <id>5ZiwLlWLvI</id>\n        <first-name>Paul</first-name>\n        <last-name>H.</last-name>\n        <headline>An accomplished HR professional with in-depth experience in all aspects of HR from resourcing and reward to ER and HRIS</headline>\n      </job-poster>\n      <description-snippet>Position Summary   Reporting to the Development Manager, the Database Coordinator will primarily be responsible for the maintenance and usage of the Tessitura database for the Development Department.    Essential Functions Maintain the integrity of the Tessitura database for Development through quality control and enforcing data entry policy and procedures. Coordinate and oversee the accurate and </description-snippet>\n      <location-description>Greater New York City Area</location-description>\n    </job>\n    <job>\n      <id>5908824</id>\n      <company>\n        <id>957187</id>\n        <name>Redwood Global Partners LLC</name>\n      </company>\n      <job-poster>\n        <id>uf-X7g57TH</id>\n        <first-name>James</first-name>\n        <last-name>B.</last-name>\n        <headline>Redwood Global Partners</headline>\n      </job-poster>\n      <description-snippet>Redwood Global Partners is a full service staffing company special[...]
{"request":{"method":"get","uri":"https://api.linkedin.com/v1/job-search?country-code=US&keywords=developer","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Li-Format":["xml"], "Authorization":["OAuth oauth_consumer_key=\"m36b3xn5zxq6\", oauth_nonce=\"eyyTzuPKHdHWChhN1RX4dnZb3ZTS8Ve178BjAGyPGw\", oauth_signature=\"jbHxLh1d6UY7%2BLexw7rDdGTvj%2Bg%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1370035071\", oauth_token=\"b41df4e2-148c-46a0-a49a-1d81aa075b1f\", oauth_version[...]
