---
http_interactions:
- request:
    method: get
    uri: http://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="m36b3xn5zxq6", oauth_nonce="x5w6grZLoCiHxB9p1yTcT95vAd963uphuUYX4ea50",
        oauth_signature="snRh25EM%2BCXSUrZMNm7bpnlGSNY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1370017678", oauth_token="b41df4e2-148c-46a0-a49a-1d81aa075b1f",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - U03K7MZQD8
      X-Li-Format:
      - xml
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<person>\n
        \ <first-name>John</first-name>\n  <last-name>Goh</last-name>\n  <headline>Senior
        Associate at DeRosa Research and Trading, Inc</headline>\n  <site-standard-profile-request>\n
        \   <url>http://www.linkedin.com/profile/view?id=38379041&amp;authType=name&amp;authToken=YFE-&amp;trk=api*a281443*s289087*</url>\n
        \ </site-standard-profile-request>\n</person>\n"
  recorded_at: Fri, 31 May 2013 16:27:58 GMT
recorded_with: VCR 2.5.0
